<html>
  <head>
    <style>
      /* Simple Spinner Styles */
      .spinner {
          border: 4px solid rgba(0, 0, 0, .1);
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border-left-color: #09f;
          animation: spin 1s ease infinite;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -20px 0 0 -20px;
      }

      @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
      }

      /* Optional: Hide form initially */
      form {
          display: none;
      }
  </style>
  </head>
<body>
  <div class="spinner"></div>
    <form method="POST" name="customerData" action="/ccavRequestHandler">
        <table width="40%" height="100" border='1' align="center">
          <caption>
            <font size="4" color="blue"><b>Integration Kit</b></font>
          </caption>
        </table>
        <table width="40%" height="100" border='1' align="center">
          <tr>
            <td>Merchant Id</td>
            <td><input type="text" name="merchant_id" value="<%= merchantId %>" /></td>
          </tr>
          <!-- <tr>
            <td>Order Id</td>
            <td><input type="hidden" name="order_id" value="{{orderId}}" /></td>
          </tr> -->
          <tr>
            <td>Currency</td>
            <td><input type="text" name="currency" value="INR" /></td>
          </tr>
          <tr>
            <td>Amount</td>
            <td><input type="text" name="amount" value="<%= course.price %>" /></td>
          </tr>
          <tr>
            <td>Redirect URL</td>
            <td><input type="text" name="redirect_url" value="<%= redirectUrl %>" /></td>
          </tr>
          <tr>
            <td>Cancel URL</td>
            <td><input type="text" name="cancel_url" value="<%= cancelUrl %>" /></td>
          </tr>
          <tr>
            <td>Language</td>
            <td><input type="text" name="language" value="EN" /></td>
          </tr>
          <input type="hidden" name="courseName" value="<%= course.name %>">
    <!-- <tr>
        <td>Billing Tel:</td>
        <td><input type="text" name="billing_tel" value="9876543210" />
        </td>
    </tr>
    <tr>
        <td>Billing Email:</td>
        <td><input type="text" name="billing_email"
            value="testing@domain.com" /></td>
    </tr>
    <tr>
        <td colspan="2">Shipping information(optional):</td>
    </tr>
    <tr>
        <td>Shipping Name</td>
        <td><input type="text" name="delivery_name" value="Sam" />
        </td>
    </tr>
    <tr>
        <td>Shipping Address:</td>
        <td><input type="text" name="delivery_address"
            value="Vile Parle" /></td>
    </tr>
    <tr>
        <td>Shipping City:</td>
        <td><input type="text" name="delivery_city" value="Mumbai" />
        </td>
    </tr>
    <tr>
        <td>Shipping State:</td>
        <td><input type="text" name="delivery_state" value="Maharashtra" />
        </td>
    </tr>
    <tr>
        <td>Shipping Zip:</td>
        <td><input type="text" name="delivery_zip" value="400038" /></td>
    </tr>
    <tr>
        <td>Shipping Country:</td>
        <td><input type="text" name="delivery_country" value="India" />
        </td>
    </tr>
    <tr>
        <td>Shipping Tel:</td>
        <td><input type="text" name="delivery_tel" value="0123456789" />
        </td>
    </tr>
    <tr>
        <td>Merchant Param1</td>
        <td><input type="text" name="merchant_param1"
            value="additional Info." /></td>
    </tr>
    <tr>
        <td>Merchant Param2</td>
        <td><input type="text" name="merchant_param2"
            value="additional Info." /></td>
    </tr>
    <tr>
        <td>Merchant Param3</td>
        <td><input type="text" name="merchant_param3"
            value="additional Info." /></td>
    </tr>
    <tr>
        <td>Merchant Param4</td>
        <td><input type="text" name="merchant_param4"
            value="additional Info." /></td>
    </tr>
    <tr>
        <td>Merchant Param5</td>
        <td><input type="text" name="merchant_param5"
            value="additional Info." /></td>
    </tr>
    <tr>
        <td>Promo Code:</td>
        <td><input type="text" name="promo_code" value=""/></td>
    </tr>
    <tr>
        <td>Customer Id:</td>
        <td><input type="text" name="customer_identifier" value=""/></td>
    </tr>
    <tr>
        <td></td>
        <td><INPUT TYPE="submit" value="Checkout"></td>
    </tr> -->
    </table>
  </form>
  <script>
window.onload=function(){
  setTimeout(function(){
    document.querySelector('.spinner').style.display='block';
    document.forms['customerData'].style.display='none';
    document.forms['customerData'].submit();
  },1000);
}
  </script>
</body>
</html>
